{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document reg</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reg_form.css' %}">
</head>
<body>
    <form method="post" class="container_reg_form" novalidate >
        {% csrf_token %}
        <div class="input_reg_form">
            <span class="text">Ваше никнейм</span>
            {{form.nick}}
            <!-- <input type="text"> -->
        </div>
        <div class="input_reg_form">
            <span class="text">Ваша Email</span>
            {{form.email}}
            <!-- <input type="text"> -->
        </div>
        <div class="input_reg_form">
            <span class="text">Пароль</span>
            {{form.password}}
            <!-- <input type="password"> -->
        </div>
        <div class="input_reg_form">
            <span class="text">Повтори пароль</span>
            <input type="password">
        </div>
        <button type="sumbit">Отправить</button>
        <span>{{ error }}</span>
    </form>
</body>
</html>