.container_body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.spisok_nav_menu_user{
    display: flex;
    list-style-type: none;
}
.nav_menu_user{
    position: relative;
    left: 5%;
    top: 6%;
}
.chapter_nav_menu_user{
    padding: 10px;
    cursor: pointer;
}
.block_info_user_chapter{
    width: 700px;
    padding: 20px;
    background-color: #fff;
    position: relative;
    box-shadow: 3px 8px 8px 0px rgba(0,0,0,0.1);
    border-radius: 8px;
    top: 11%;
    left: -53%;
    display: flex;
}
.pisda{
    margin-top: 17px;
}
.status{
    color: rgb(150, 150, 150);
    font-size: 15px;
}
.USER_NAME{
    color: rgb(150, 150, 150);
    font-size: 19px;
}
.block_img_info{
    width: 300px;
    background-color: rgb(231, 231, 231);
    position: relative;
    right: -19%;
    border-radius: 7px;
    padding: 20px;
}
.img_block_img_info{
    position: relative;
    height: 160px;
    width: 260px;
}