*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 14px 0 14px 14px;
    background-color: #333;
    display: flex;
    align-items: center;
}
.icon_profile{
    width: 45px;
    height: 45px;
    background-color: aliceblue;
    border-radius: 50%;
    right: 20px;
    position: absolute;
}
.Name_project{
    font-size: 34px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}
.Nav_text{
    color: #fff;
    padding-left: 20px;
    cursor: pointer;
}