{% extends 'main/baza.html' %}

{% block title %}Custom user page{% endblock %}

{% block content %}    
<div class="container__regestration">
    <form method="post" class="container_reg_form" novalidate >
        {% csrf_token %}
        <input type="text" name="username" value={{request.user.username}}>
        <input type="email" name="email" value={{request.user.email}}>
        <!-- <div>{{ form.image }}</div> -->
        <!-- <div>{{ form.password }}</div> -->
        <button type="sumbit">Отправить</button>
        <div>{{error}}</div>
    </form>
    </div>
{% endblock %}