{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document reg</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reg_form.css' %}">
</head>
<body>
    <div class="container__regestration">
        <form method="post" class="container_reg_form" novalidate >
            {% csrf_token %}
            <input type="text" name="username">
            <input type="password" name="password">
            <button type="sumbit">Отправить</button>
            {% if form.non_field_errors %}
                <p>Вы ввели неверные данные</p>
            {% endif %}
        </form>
    </div>
</body>
</html>