{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document reg</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reg_form.css' %}">
</head>
<body>
    <div class="container_reg_form">
        <div class="input_reg_form">
            <span class="text">Ваше никнейм</span>
            <input type="text">
        </div>
        <div class="input_reg_form">
            <span class="text">Ваша Email</span>
            <input type="text">
        </div>
        <div class="input_reg_form">
            <span class="text">Пароль</span>
            <input type="password">
        </div>
        <div class="input_reg_form">
            <span class="text">Повтори пароль</span>
            <input type="password">
        </div>
        <button>Отправить</button>
    </div>
</body>
</html>