{% extends 'main/baza.html' %}

{% block title %}Document reg{% endblock %}

{% block content %}
    <form method="post" class="container_reg_form" novalidate >
        {% csrf_token %}
        <div class="input_reg_form">
            <span class="text">Ваше никнейм</span>
            {{form.nick}}
            <!-- <input type="text"> -->
        </div>
        <div class="input_reg_form">
            <span class="text">Ваша Email</span>
            {{form.email}}
            <!-- <input type="text"> -->
        </div>
        <div class="input_reg_form">
            <span class="text">Пароль</span>
            {{form.password}}
            <!-- <input type="password"> -->
        </div>
        <div class="input_reg_form">
            <span class="text">Повтори пароль</span>
            <input type="password">
        </div>
        <button type="sumbit">Отправить</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}