{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document reg</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/reg_form.css' %}">
</head>
<body>
    <div class="container__regestration">
    <form method="post" class="container_reg_form" novalidate >
        {% csrf_token %}
        <!-- {{form.non_field_errors}}
        {% for f in form %}
        <div>{{ f.label }}:</div>
        <div>{{ f }}</div>
        {% endfor %} -->
        <input type="text" name="username" value="admin" class = "test">
        <input type="email" name="email">
        <input type="password" name="password1">
        <input type="password" name="password2">
        <button type="sumbit">Отправить</button>
        <div>{{error}}</div>
        <div>{{error_username}}</div>
        <div>{{error_email}}</div>
    </form>
    </div>
</body>
</html>