{% extends 'main/baza.html' %}

{% block title %}User page{% endblock %}

{% block content %}    
    <div class="container_body">
        <div class="container">
            <div class="nav_menu_user">
                <ul class="spisok_nav_menu_user">
                   <li class="chapter_nav_menu_user">{{form.username}}</li>
                   <li class="chapter_nav_menu_user">НАСТРОЙКИ</li>
                   <li class="chapter_nav_menu_user">СОРЕВНОВАНИЯ</li>
                   <li class="chapter_nav_menu_user">ПОПЫТКИ</li>
                </ul>
            </div>
            <div class="user_info_chapter">
                <div class="block_info_user_chapter">
                    <div class="block_text_info">
                        <span class="status">STATUS</span>
                        <div class="pisda_naebal">
                            <span class="USER_NAME">{{form.username}}
                            </span>
                        </div>
                        <div class="pisda">
                            <i></i>
                            <span>Рейтинг: <span>{{form.rating}}</span> <span>(макс. <span>000</span>,<span>STATUS</span>)</span></span>
                        </div>
                        <div class="pisda">
                            <i></i>
                            <span><a href="">Мои друзья</a></span>
                        </div>
                        {% if request.user.username == form.username%}
                        <div class="pisda">
                            <i></i>
                            <span><a href="{% url 'edit' %}">Изменить настройки</a></span>
                        </div>
                        <div class="pisda">
                            <i></i>
                            <span>{{form.email}}</span>
                        </div>                        
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="block_img_info">
                        <img class="img_block_img_info" src="{{form.image}}" alt="">
                        <span>загрузить</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}