.tab_input,
.tab_item {
  display: none;
}

.tab_buttons {
  margin-bottom: 20px;
  font-size: 0;
}

.tab_container {
  border: 1px solid #ddd;
}

.tab_label {
  display: inline-block;
  min-width: 200px;
  border: 1px solid #ddd;
  padding: 5px;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.tab_item { padding: 5px; }
.tab_item:nth-child(1) { background-color: #5ad475; }
.tab_item:nth-child(2) { background-color: #7fb2e6; }

.tab_item.show {
  display: block;
}