{% extends 'main/base.html' %}
{% load mathfilters %}
{% load static %}
{% block title %}{{user.username}}{% endblock %}
{% block style %}

{% endblock %}
{% block body %}

<div class="content">
    <meta name="labels" content="{% for i in point %}{{i.date}},{% endfor %}">
    <meta name="data" content="{% for i in point %}{{i.score}},{% endfor %}">
    <link rel="stylesheet" href="{% static 'main/css/profile.css' %}">

    <div class="wrapper_">
        <div class="wrapper_content_profile">
            <div class="wrapper_content_profile_">
                <div class="block_avatar">
                    <div class="img_settings">
                        <img src="{{user.image.url}}" alt="">
                    </div>
                    {% if request.user.username == user.username %}
                    <div class="avatar_upload open-popup op2">
                        <span>Изменить</span>
                        <i class='bx bx-pencil'></i>
                    </div>
                    
                    {% else %}
                    {% endif %}
                </div>
                <div class="block_info_profile">
                    <div class="section_info_profile">
                        <div id="company" class="input_block_div nickname nickname_js">{{user.username}}</div>
                        <!-- <span class="rang">новичок</span> -->
                        <span class="rang">{{user.rating}} очков рейтинга</span>
                    </div>
                    {% if request.user.username == user.username %}
                    <div class="block_email">
                        <i class='bx bx-envelope'></i>
                        <span>{{user.email}}</span>
                    </div>
                    {% else %}
                    {% endif %}
            </div>   
            </div>
            <ul class="list_menu">
                <a href="{% url 'edit' %}">
                <li class="elem_spis"><i class='bx bxs-cog icon_spis'></i></li>
                </a>
            </ul>
        </div>
        <div class="block_content_profile">
            <div class="content_profile">
                <div class="schedule_block">
                    <span>График изменения рейтинга пользователя</span>
                    <canvas id="myChart"></canvas>
                </div>
                <!-- <div class="create_fast_content">
                    <span>Создание постов</span>
                    <form class="create_fast">
                        <div class="content_text">
                            <div class="content_textarea">
                                <textarea maxlength="2007" class="fast_textarea" name="textarea" placeholder="Введите ваш текст" id=""></textarea>
                                <div class="result"></div>
                            </div>
                            <input type="submit" class="input_fast">
                            
                            <div class="file-container">
                            </div>
                        </div> -->
                        <!-- <div class="content_plus">
                            <i class='bx bx-smile'></i>
                            <div class="smile_content display_false"></div>
                            <label for="file_clip">
                                <input type="file" class="file_clip" id="file_clip" multiple>
                                <i class='bx bx-paperclip' ></i>    
                            </label>
                        </div> -->
                    <!-- </form>
                </div>     -->
                <!-- <div class="fast_container">
                    <div class="fast">
                        <span class="fast_time">22 марта 2022, 19:30</span>
                        <pre>
О чём этот пост? 
В нём я расскажу свою историю о том, как я бросил курить.
Не знаю, многие ли из вас слышали про методику под названием "Никоретте", или как её ещё называют "Сухое дыхание" (от англ. dry-breath).
О ней я узнал от своего друга, который в своё время бросил курить по этой методике.
Я тоже загорелся идеей бросить курить и начал искать информацию по этой теме.
Но, увы, ничего толкового не нашёл.
Только разные негативные отзывы о методике.
Ну, думаю, ладно, попробую сам.</pre>
                    </div>
                </div>
            </div> -->
            <div class="friend">
                <div class="friend_span">
                    <span>Друзья</span>
                    <i class='bx bx-heart'></i>
                </div>
                <div class="block_friend">
                    <span>Пока что в разработке</span>
                </div>
            </div>
    </div>
    {% if request.user.username == user.username %}
    <div class="popup__bg pbg2"> 
        <div class="popup p2">
            <i class='bx bx-x close-popup cp2'></i>
            <div class="img_change">
                <span>Изменение вашего аватара</span>
                <div class="img_change_block">
                    <div class="block_regual">
                        <img src="{{user.image.url}}" alt="">
                    </div>
                    <div id="image-container">
                        <img id="image-preview" alt="Preview Image">
                    </div>
                </div>       
                <div class="input_container">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="input_delete" name="reset image"><i class='bx bx-basket'></i></button>
                    </form>
                    <form method="post" class="change_photo" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label class="input_upload input_upload_" for="change_upload">Загрузить фото <i class='bx bx-upload bx-1'></i></label>
                        <input type="file" id="change_upload" class="upload-photo upload-photo-file" accept="image/*">
                        <label class="input_upload input_upload_save save_photo" for="const_upload">Сохранить фото<i class='bx bx-check bx-1'></i></label>
                        <button type="submit" class="upload-photo" id="const_upload" name="update image"></button>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
    {% else %}
    {% endif %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
</div>
{% endblock %}
{% block js %}
{% endblock %}